{% extends "layout.html" %}

{% block content %}

<h1>TheVerge Summarizer</h1>
<div id="content">
    <div id="article-link">
        <input type="text" id="url" placeholder="Enter TheVerge Article Address..." />
        <span class="glyphicon glyphicon-play-circle"></span>
    </div>
    <div id="article">
    </div>
</div>
<script type="text/javascript">
    function GetArticleText() {
        $.get("/article", { url: $('#url').val() }, function (resp) {
            $('#article').html(resp);
        });
    }
    $('.glyphicon').click(GetArticleText);
</script>

{% endblock %}
